.ticket-list-item {
    display: inline-grid;
    grid-template-rows: 100%;
    grid-template-columns: 5% auto 10%
}

.ticket-list-item-id {
    grid-column-start: 1;
    justify-self: end;
}

.ticket-list-item-title {
    grid-column-start: 2;
    justify-self: stretch;
    align-content: flex-start;
    margin-left: 5px;
}

.ticket-list-item-state {
    grid-column-start: 3;
    justify-self: center;
}