<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Tickets</h1>
        </div>
        <div class="col-sm py-1 align-middle">
            <a class="btn btn-primary float-right" [routerLink]="['/new-ticket']">
                Create
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm list-group">
            <div 
                class="list-group-item ticket-list-item list-group-item-action"
                *ngFor="let ticket of ticketList"
                [routerLink]="['/ticket', ticket.Id]">
                <div class="ticket-list-item-id">
                    #{{ticket.Id}}
                </div>
                <div class="ticket-list-item-title">
                    {{ticket.Title}}
                </div>
                <div class="ticket-list-item-state">
                    {{ticket.State}}
                </div>
            </div>
        </div>
    </div>
</div>